p {
	font-family: georgia;
}

ul {
	font-family: georgia;
}

li {
	margin: 5px 0;
}

h1 {
	font-family: palatino;
	font-style: italic;
}

h2 {
	font-family: palatino;
}

h3 {
	font-family: palatino;
}