<li class="micropost-list-item">
  <div class="author-block">
      <img class="avatar" src="/authors/archmage.png"/>
      <h1 class="micropost-list-item-title">Kara Valentine</h1>
  </div>
  {{ .Content }}
  <div style="display: flex; align-items: center;">
  {{- with .Params.tags -}}
    {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
    {{ range . -}}
      {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
        <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  </div>
  <a class="micropost-list-meta" href="{{ .Permalink }}">
    {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .Date.Format "02 January 2006 - 15:04" }}
  </a>
</li>